.artickle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  @media screen and (max-width: 575px) {
    background: $color-field-01;
    padding: 40px 0;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 920px;
    background: $color-field-01;
    border-radius: 10px;
    overflow: hidden;
    @media screen and (max-width: 575px) {
      width: 100%;
      background: none;
    }
    &--title-img {
      @media screen and (max-width: 575px) {
        width: 350px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 35px;
      }
    }
    &--box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 35px;
      @media screen and (max-width: 575px) {
        width: 350px;
        padding: 0;
      }
      &__start-artickle {
        display: flex;
        flex-direction: column;
        width: 630px;
        margin-bottom: 80px;
        @media screen and (max-width: 575px) {
          width: 100%;
          flex-direction: column-reverse;
          margin-bottom: 40px;
        }
        &--btn-discussions {
          align-self: end;
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 13px;
          font-weight: 300;
          line-height: 16.25px;
          font-family: ReadexPro, sans-serif;
          color: $color-text-07;
          margin-bottom: 35px;
          @media screen and (max-width: 575px) {
            margin-bottom: 0;
          }
        }
        &--subject {
          display: flex;
          gap: 25px;
          font-size: 13px;
          font-weight: 300;
          line-height: 16.25px;
          font-family: ReadexPro, sans-serif;
          color: $color-text-07;
          margin-bottom: 10px;
          @media screen and (max-width: 575px) {
            font-size: 10px;
            font-weight: 400;
            line-height: 13.62px;
            font-family: OpenSans, sans-serif;
          }
        }
        &--title {
          @include font-h1-Philippines;
          color: $color-text-02;
          margin-bottom: 10px;
          @media screen and (max-width: 575px) {
            @include font-h3-Philippines;
            color: $color-text-01;
          }
        }
        &--text {
          font-size: 21px;
          font-weight: 600;
          line-height: 28.6px;
          font-family: OpenSans, sans-serif;
          color: $color-text-07;
          @media screen and (max-width: 575px) {
            margin-bottom: 25px;
          }
        }
      }
      &__content {
        width: 630px;
        @media screen and (max-width: 575px) {
          width: 100%;
        }
        &--question {
          @include font-h2-Philippines;
          color: $color-text-02;
          margin-bottom: 35px;
          @media screen and (max-width: 575px) {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 25px;
          }
        }
        &--answer {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding-left: 25px;
          @media screen and (max-width: 575px) {
            gap: 15px;
          }
          &__title {
            @include font-h3-Philippines;
            color: $color-text-01;
            @media screen and (max-width: 575px) {
              font-size: 15px;
              line-height: 18.75px;
            }
          }
          &__text {
            @include font-p2-Philippines;
            color: $color-text-07;
            @media screen and (max-width: 575px) {
              line-height: 22.51px;
            }
          }
          &__list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            &--element {
              display: flex;
              gap: 5px;
              @include font-p2-Philippines;
              color: $color-text-07;
            }
          }
        }
      }
      &__midl {
        height: 343px;
        width: 850px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        margin: 35px 0;
        @media screen and (max-width: 575px) {
          width: 100%;
          height: 157px;
        }
        &--img {
          position: absolute;
          top: -80px;
          @media screen and (max-width: 575px) {
            top: -35px;
          }
        }
      }
      &__subartickles {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 630px;
        margin: 35px 0;
        @media screen and (max-width: 575px) {
          width: 350px;
        }
        &__name {
          display: flex;
          flex-direction: column;
          gap: 10px;
          @media screen and (max-width: 575px) {
            gap: 5px;
          }
          &--text {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            font-family: ReadexPro, sans-serif;
            color: $color-text-07;
          }
          &--comments {
            display: flex;
            align-items: center;
            gap: 5px;
            &__number {
              font-size: 13px;
              font-weight: 300;
              line-height: 16.25px;
              font-family: ReadexPro, sans-serif;
              color: $color-text-07;
            }
            &__img {
              height: 9px;
              width: 9px;
            }
          }
        }
      }
      &__end {
        height: 343px;
        width: 850px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        margin: 35px 0;
        @media screen and (max-width: 575px) {
          width: 100%;
          height: 166px;
        }
        &--img {
          position: absolute;
          top: -260px;
          width: 100%;
          @media screen and (max-width: 575px) {
            top: -115px;
          }
        }
      }
    }
  }
}

.pl-none {
  padding-left: 0;
}

.fz-20 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.artickle-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 575px) {
    padding-top: 40px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 920px;
    padding: 25px;
    background: $color-field-01;
    border-radius: 10px;
    @media screen and (max-width: 575px) {
      width: 350px;
      padding: 20px;
      gap: 25px;
    }
    &--user {
      display: flex;
      gap: 15px;
      @media screen and (max-width: 575px) {
        align-items: center;
      }
      &__avatar {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-background;
        border-radius: 5px;
        @media screen and (max-width: 575px) {
          width: 46px;
          height: 46px;
        }
      }
      &__item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        @media screen and (max-width: 575px) {
          width: 240px;
        }
        &--name {
          font-size: 14px;
          font-weight: 600;
          line-height: 17.5px;
          font-family: ReadexPro, sans-serif;
          color: $color-text-07;
          @media screen and (max-width: 575px) {
            font-size: 13px;
            line-height: 16.25px;
            color: $color-text-01;
          }
        }
        &--question {
          @include font-h3-Philippines;
          color: $color-text-01;
          @media screen and (max-width: 575px) {
            font-size: 15px;
            line-height: 18.75px;
          }
        }
      }
    }
    &--input {
      padding: 18px 20px;
      background: $color-field-05;
      border-radius: 10px;
      @include font-p2-Philippines;
      color: $color-text-07;
    }
  }
}

.pb-80  {
  padding-bottom: 80px;
}
